* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: hsl(257, 40%, 49%);
  background-image: url('images/bg-desktop.svg');
}

header {
  margin: 4%;
}

header img {
  width: 220px;
}